body {
  background-color: rgb(126, 40, 40);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

img.selected {
  border: 5px solid black;
}
.user-container input, .user-container button {
    width: 40%;
    margin: 0 30px;
    padding: 20px;
    font-style: italic;
    border-radius: 5px;
}

.user-grid {
display: flex;
width: 90%;
flex-wrap: wrap;
margin: 0 auto;

}

.user-grid li {
max-width: 350px;
font-size: 18px;
color: white;
list-style-type: none;
text-align: center;
}

.user-grid li img {
  max-width: 215px;
  margin: 10px;
  display: block;
}

